body {
    background-color: black;
}
.border {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin: 0 10px;
}

h1 {
    font-size: 40px;
    text-decoration:underline;
}

h5 {
    font-size: 17px;
}

.image-container {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
   }
   
   table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100px;
    border: 1px solid #ccc;
   }
   
   th {
    
    border: 1px solid #ccc;
    padding: 70px;
    text-align: left;
   }
   
   td {
    
    border: 1px solid;
    padding: 40px;
   }

