body {
      background-color: rgb(248,248,255);
      margin: 0;
}



nav {
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      position: fixed;
      height: 70px;
      box-shadow: 0 0 10px  black;
      z-index: 1000;
}

.name-container {
      position: relative;
      top: -1px;
      left: 70px;
      color: white;
}



.links {
      text-decoration: none;
      color: white;
      transition: 0.3s;
      margin: 0 30px;
      padding-right: 10px;
      position: relative;
      top: -43px ;
      display: inline-block;
}

.links:hover {
      transform: scale(1.1);
      color: red;
}


.links-container {
      float: right;
}


body .page-1 {
      margin:  80px 10px 0 10px;
      padding: 50px 0 0 0;
      text-align: center;
      box-shadow: 0 0 20px 3px #838996 inset;
      background-color: rgb(248,248,255)
}

figure {
      margin: 0;
      padding: 0;

}

.profile {
      height: 400px;
}

figcaption {
      font-size: 25px;
      padding-top: 30px;
      padding-bottom: 37px;
}

#story {
      font-size: 20px;
      padding-bottom: 71px;
}



body #page-2 {
      margin-top: 13px;
      height: 710px;
      background-color: rgba(0, 0, 0, 0.8);
}

#story-profile {
      height: 500px;
      position: relative;
      top: 140px ;
      left: 180px;
}

#story-caption {
      position: relative;
      float: right;
      top: 300px;
      right: 70px;
      bottom: 200px; 
      
      
      color: white;
}

#page-3 {
      height: 710px;
      margin: 10px;
      box-shadow: 0 0 20px 3px #838996 inset;
      background-color: rgb(248,248,255)
}

#page-3 #certi-title {
      position: relative;
      top: 30px ;
      text-align: center;
}

#certificate {
      position: relative;
      top: 30px;

}

#last-page {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      height: 100px;
}

#last-page span{
      position: relative;
      top: 20px ;
      left: 50px;
      color: white;
}

.contact-links {
      color: white;
      position: relative;
      top: 25px;
      text-decoration: none;
      left: 120px;
      display: inline-block;
      transition: 0.3s;
}

.contact-links:hover {
      transform: scale(1.2);
      color: red;
}